name: CI

on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * *" # Daily at midnight.

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
        
      - run: uv run feeds/rss_reader.py --input feeds/feeds.txt --days 7 --output feeds/index.html
      
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./feeds
      - uses: actions/deploy-pages@v4