name: CI

on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * *" # Daily at midnight.

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
        
      - run: uv run feeds/rss_reader.py --input feeds/feeds.txt --days 7 --output feeds/index.html
      
      - uses: actions/upload-pages-artifact@v3
        with:
          path: .
      - uses: actions/deploy-pages@v4
