name: CI

on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * *" # Daily at midnight.

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
        
      - run: uv run feeds/rss_reader.py --input feeds/feeds.txt --days 7 --output feeds/index.html
      
      - name: Commit and push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add feeds/index.html
          git commit -m "Add generated HTML file" || exit 0
          git push